// vim: ft=sh

# This file contains build options. Use ON to enable and OFF to disable certain
# features. Each feature uses CMake flag syntax. Therefore, you may add new
# options on a separate line by following the CMake syntax as used below.

# Option to enable/disable OpenMP. Set ON to enable, OFF to disable.
-DBUILD_OPENMP=ON

# Option to enable/disable CUDA. Set ON to enable, OFF to disable.
-DBUILD_CUDA=OFF

# Set the compiler to use. This is important when compliing CUDA code since
# certain CUDA versions support different compiler versions. For example, when
# using CUDA 8, the highest possible g++ version is 5.
-DCMAKE_CXX_COMPILER=g++-5
-DCMAKE_C_COMPILER=gcc-5
